# Dependencies
node_modules/

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Files
.env
*.local

# Build outputs
dist/
.next/
build/
bin/
obj/

package-lock.json
client/package-lock.json
server/package-lock.json
