@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta extraída de Propuesta 1 */
  --primary: 0 86% 49%;      /* #0056fc */
  --primary-dark: 228 100% 13%; /* #000d42 */
  --bg-light: 220 14% 96%;   /* #f5f6f8 */
}

@layer base {
  body {
    @apply bg-[#f5f6f8] text-gray-800; /* Fondo gris suave profesional */
  }
}
